/**
 * Sommaire:
 *
 * 1.0 - Reset
 * 2.0 - Basic Structure & Repeated classes
 * 3.0 - Header
 * 4.0 - LeftSideBar
 * 5.0 - Content
 	* 5.1 - Structure content
 	* 5.2 - Basic element content
 * 6.0 - Footer

 * -----------------------------------------------------------------------------
 */

 /* 1.0 - Reset */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* 2.0 - Basic Structure */

html,body{
	width: 100%;
	height: 100%;
	font-family: "Exo 2", "verdana", "sans-serif";
	background: url("../images/pageBackground.png") repeat;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.4rem;
}

.clear{
	clear: both;
}

p{
	font-size:1.4rem;
}

 /* 3.0 - Header */

header{
	height: 38px;
	background: #222222;
	border-left: 1px solid #434343;
	display: table;
	width: 100%;
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.messageBonjour{
	color:#f0f0f0;
	display: table-cell;
	width: 33.33%;
	font-size: 1.1rem;
	vertical-align: middle;
	padding-left: 14px;
	font-weight: 300;
	letter-spacing: 0.3pt;
}

.logo{
	display: table-cell;
	width: 33.33%;
	text-align: center;
	color:#f0f0f0;
	font-size: 1.6rem;
	font-weight: 200;
	font-style: italic;
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: 0.4pt;

}
.logo span{
	font-weight: 400;
	font-style: italic;
}
#logout{
	display: table-cell;
	width: 33.33%;
	vertical-align: middle;
	cursor: pointer;
}

#logout a{
	float: right;
	font-size: 1.1rem;
	color:#f0f0f0;
	text-decoration: none;
	margin-right: 14px;
	font-weight: 300;
	letter-spacing: 0.3pt;
}

#logout:hover{
	background: -webkit-gradient(
		linear,
		right top, left top,
		from(rgba(255,255,255,0.15)),
		to(rgba(0,0,0,0))
	);
	background: -webkit-linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);
	background: -moz-linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);
	background: -o-linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);
	background: linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);

	text-shadow: 1px 1px black;
}


  /* 4.0 - LeftSidebar */


#leftSidebar{
	height: 100%;
	background: #222222;
	width: 280px;
	position: absolute;
	top:0;
	left: 0;
}

#leftSidebar .name{
	font-size: 2.0rem;
	font-family: "Varela Round";
	color:#f0f0f0;
	text-align: center;
	letter-spacing: 1pt;
}

#leftSidebar .profilPicture{
	width: 100px;
	height: auto;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 35px;
	border-radius: 50%;
	border: 2px solid #f0f0f0;
}

  /* 5.0 - Content */
  	  /* 5.1 - Struture content */


  	  #mainContent{	
		width: auto;
		padding-left: 280px;
  	  }
	
	  #bannerTop{
	  	height: 100px;
	  	width: 100%;
	  	background: #f0f0f0;
	  }

	  #content{
		width: auto;
	  	height: auto;
	  	padding: 50px;
	  }

	  /* 5.2 - Wislist Page */

	  #wishlist{
	  	margin: 0 auto;
	  }

	  .wish{
	  	width: 200px;
	  	height: 250px;
	  	margin-bottom: 20px;
	  	margin-right: 20px;
	  	border: 1px solid #dddddd;
	  	border-radius: 10px;
	  	background: #fff;
	  }

	  .wish img{
	  	width: 100%;
	  	height: auto;
	  	overflow: hidden;
	  	position: relative;
	  }
	  
	  .wish .wish_name a{
	  	font-family: "Exo 2", "verdana", "sans-serif";
	  	font-size: 1.6rem;
	  	color: #222;
	  	padding: 10px;
	  	text-decoration: none;
	  }

	  .wish .delete{
	  	width: 30px;
	  	height: 29px;
	  	display: none;
	  	background: url("../images/delete.png");
	  	position: absolute;
	  	top: 15px;
	  	right: 15px;
	  	z-index: 10;
	  	text-indent: -9000px;
	  }

	  .wish .wish_prix{
	  	font-family: "Open Sans", "verdana", "sans-serif";
	  	font-size: 1.6rem;
	  	font-weight: 700;
	  	width: 70px;
	  	height: 23px;
	  	display: none;
	  	background: #fff;
	  	position: absolute;
	  	top: 15px;
	  	left: 15px;
	  	z-index: 10;
	  	text-align: center;
	  	padding-top: 7px;
	  	border-radius: 10px;
	  }

	  .wish .active{
		display: block;
	  }
		
	  #tags{
		position: fixed;
		bottom: 0px;
		z-index: 10;
		background: #f0f0f0;
		width: 100%;
		height: 50px;
	  }

	  #tags li{
	  	display: inline;
	  	font-family: "Exo 2", "verdana", "sans-serif";
	  	font-size: 1.6rem;
	  	color: #222;
	  	text-transform: uppercase;
	  	margin-right: 10px;
	  	text-decoration: none;
	  	line-height: 50px;
	  }













