/**
 * Sommaire:
 *
 * 1.0 - Reset
 * 2.0 - Basic Structure & Repeated classes
 * 3.0 - Header
 * 4.0 - LeftSideBar
 * 5.0 - Content
 	* 5.1 - Structure content
 	* 5.2 - Basic element content
 * 6.0 - Footer

 * -----------------------------------------------------------------------------
 */

 /* 1.0 - Reset */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* 2.0 - Basic Structure */

html,body{
	width: 100%;
	height: 100%;
	font-family: "Exo 2", "verdana", "sans-serif";
	background: #f1f1f1;
}

html{
	font-size: 62.5%;
}

*{
	outline:none;
}

body{
	font-size: 1.4rem;
}

.clear{
	clear: both;
}

p{
	font-size:1.4rem;
}

 /* 3.0 - Header */

header{
	height: 38px;
	background: #222222;
	border-left: 1px solid #434343;
	display: table;
	width: calc(100% - 270px);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	z-index: 10;
	position: fixed;
}

.messageBonjour{
	color:#f0f0f0;
	display: table-cell;
	width: 33.33%;
	font-size: 1.1rem;
	vertical-align: middle;
	padding-left: 14px;
	font-weight: 300;
	letter-spacing: 0.3pt;
}

.logo{
	display: table-cell;
	width: 33.33%;
	text-align: center;
	color:#f0f0f0;
	font-size: 1.6rem;
	font-weight: 100;
	font-style: italic;
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: 0.4pt;

}
.logo span{
	font-weight: 300;
	font-style: italic;
}
#logout{
	display: table-cell;
	width: 33.33%;
	vertical-align: middle;
	cursor: pointer;
}

#logout a{
	float: right;
	font-size: 1.1rem;
	color:#f0f0f0;
	text-decoration: none;
	margin-right: 14px;
	font-weight: 300;
	letter-spacing: 0.3pt;
}

#logout:hover{
	background: -webkit-gradient(
		linear,
		right top, left top,
		from(rgba(255,255,255,0.15)),
		to(rgba(0,0,0,0))
	);
	background: -webkit-linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);
	background: -moz-linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);
	background: -o-linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);
	background: linear-gradient(
		right,
		rgba(255,255,255,0.15),
		rgba(0,0,0,0)
	);

	text-shadow: 1px 1px black;
}


  /* 4.0 - LeftSidebar */


#leftSidebar{
	height: 100%;
	background: #222222;
	width: 270px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
}

#leftSidebar #update{
	width: 25px;
	height: 25px;
	background-color: #2D2D2D;
	float:left;
	margin-left: 25px;
	margin-top: 25px;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
}

#leftSidebar #update a:hover,.updateActive{
	background: url("../images/reglage_3.png") center center !important;
	background-size: cover !important;
}

#leftSidebar #update a{
	width: 11px;
	height: 11px;
	display: block;
	background: url("../images/reglage_1.png") center center;
	background-size: cover;
	position: absolute;
	left:7px;
	top:7px;
	text-indent: -9000px;
	transition: background 0.3s ease;
}

#leftSidebar .name{
	font-size: 2.0rem;
	font-family: "Varela Round";
	color:#f0f0f0;
	text-align: center;
	letter-spacing: 1.2pt;
}

#leftSidebar .profilPicture{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 40px;
	border-radius: 50%;
	border: 1px solid rgba(250,250,250,0.2);
}

.profilPictureModif{
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 40px;
	border-radius: 50%;
	border: 1px solid rgba(250,250,250,0.1);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
}

#leftSidebar .ville{
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 100;
	font-style: italic;
	margin-top: 5px;
}
#leftSidebar .ville:before{
	content:"";
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url("../images/map_1.png") center center;
	background-size: cover;
	margin-right: 5px;
	margin-left: -15px;
}

#leftSidebar #userStats{
	display: table;
	width: 100%;
	margin-top: 70px;
}

#leftSidebar #userStats li{
	display: table-cell;
	width: 33.33%;
}

#leftSidebar #userStats h4{
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	color:#fff;
	font-weight: 300;
	letter-spacing: 0.3pt;
}

#leftSidebar #userStats p{
	text-align: center;
	font-size: 1.6rem;
	color:#fff;
	margin-top: 8px;
	font-family: "Varela Round";
}

#leftSidebar #menu{
	margin-top: 70px;
}

#leftSidebar .editing, #userStats.editing{
	display: none !important;
}

#leftSidebar #menu li{
	position: relative;
}

#leftSidebar #menu li:first-child.actif{
	border-left: 4px solid #288dff;
	transition: all 0.3s ease;
}

#leftSidebar #menu li:nth-child(2).actif{
	border-left: 4px solid #e82f4e;
	transition: all 0.3s ease;
}
#leftSidebar #menu li:nth-child(3).actif{
	border-left: 4px solid #fb9a00;
	transition: all 0.3s ease;
}
#leftSidebar #menu li:nth-child(4).actif{
	border-left: 4px solid #04b300;
	transition: all 0.3s ease;
}

#leftSidebar #menu a{
	color:#f0f0f0;
	text-decoration: none;
	padding-left: 25px;
	height: 60px;
	width: 240px;
	line-height: 60px;
	display: block;
	background-color:#222;
	font-weight: 300;
	letter-spacing: 0.3pt;
	font-size: 1.4rem;
}

#leftSidebar #menu a:hover{
	color:#f0f0f0;
	text-decoration: none;
	height: 60px;
	width: 245px;
	line-height: 60px;
	display: block;
	background-color:#2d2d2d;
	transition: all 0.3s ease;
}

#leftSidebar #menu a.actif, #leftSidebar #menu a.actif:hover{
	color:#f0f0f0;
	text-decoration: none;
	height: 60px;
	width: 240px;
	line-height: 60px;
	display: block;
	background-color:#2d2d2d;
	transition: all 0.3s ease;
}

#leftSidebar #updateForm{
	margin-top: 50px;
}

#leftSidebar #updateForm.hidden{
	display: none;
}

#leftSidebar > #updateForm > h3{
	text-transform: uppercase;
	color:#f0f0f0;
	font-size: 1.4rem;
	font-weight: 300;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #2d2d2d;
}

#leftSidebar > #updateForm label {
	color:#f0f0f0;
	font-size: 1.3rem;
	font-weight: 500;
	margin-left: 40px;
	margin-bottom: 15px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

#leftSidebar > #updateForm input{
	margin-left: 40px;
	width: 190px;
	height: 30px;
	border-radius: 4px;
	margin-bottom: 10px;
	border: none;
}


  /* 5.0 - Content */
  	  /* 5.1 - Struture content */


  	  #mainContent{	
		width: auto;
		padding-left: 270px;
  	  }
	
	  #bannerTop{
	  	height: 76px;
	  	width: calc(100% - 270px);
	  	background: #f1f1f1;
	  	border-bottom: 1px solid #e0e0e0;
	  	position: fixed;
	  	top: 38px;
	  	z-index: 20;
	  	display: table;
	  }

	  #bannerTop form{
	  	display: table-cell;
	  	text-align: center;
	  	vertical-align: middle;
	  }

		  /* style input ADDPRODUCT*/

			#addProduct input, #addProduct select{
				margin: 0;
				padding: 0;
				background: none;
				border: none;
				box-shadow: none;
				transition: all 0.3s ease;
			}

			#addProduct input[name="product"]{

				width: 400px;
				height: 30px;
				background: white;
				border-radius: 4px;
				box-sizing: border-box;
				border: 1px solid #dddddd;
				color: #222222;
				font-family: "Exo 2";
				font-weight: 200;
				letter-spacing: 0.3pt;
				font-size: 1rem;
				padding-left: 12px;
				transition: all 0.3s ease;
			}

			#addProduct input[name="product"]+select{
				height: 30px;
				box-sizing: border-box;
				border-radius: 4px;
				border: 1px solid #dddddd;
				width: 120px;
				margin-left: 10px;
				background-color: white;
				color: #222222;
				font-family: "Exo 2";
				font-weight: 200;
				letter-spacing: 0.5pt;
				font-size: 1.1rem;
				padding-left: 12px;
				transition: all 0.3s ease;
			}

			#addProduct input[name="newtag"]{

				width: 120px;
				height: 30px;
				background: white;
				border-radius: 4px;
				box-sizing: border-box;
				border: 1px solid #dddddd;
				color: #222222;
				font-family: "Exo 2";
				font-weight: 200;
				letter-spacing: 0.3pt;
				font-size: 1rem;
				padding-left: 12px;
				margin-left: 10px;
				transition: all 0.3s ease;
			}

			#addProduct input[value="Ajouter"]{

				width: 120px;
				margin-left: 10px;
				background-color: #288DFF;
				border-radius: 4px;
				height: 30px;
				color: white;
				font-family: "Exo 2";
				font-weight: 200;
				text-transform: uppercase;
				letter-spacing: 0.5pt;
				cursor: pointer;
				box-sizing: border-box;
				transition: all 0.3s ease;
			}

			#addProduct input[value="Ajouter"]:hover{

				transition: all 0.3s ease;

			}

	  #content{
		width: auto;
	  	height: auto;
	  	padding: 50px;
	  }
			
	  /* 5.2 - Wislist Page */

	  #wishlist{
	  	margin: 0 auto;
	  	padding-top: 114px;
	  }

	  .wish{
	  	width: 200px;
	  	height: 260px;
	  	margin-bottom: 20px;
	  	margin-right: 20px;
	  	border: 1px solid #e7e7e7;
	  	border-radius: 4px;
	  	background: #fff;
	  	overflow: hidden;
	  	text-align: center;
	  }

	  .wish img{
	  	width: 100%;
	  	height: auto;
	  	position: relative;
	  	box-sizing: border-box;
	  	border: 5px solid white;
	  }
	  
	  .wish .wish_name{
	  	height: 38px;
	  	padding: 10px;
	  	padding-left: 14px;
	  	padding-right: 14px;
	  	overflow: hidden;
	  	background: white;
	  	position: absolute;
	  	bottom: 0;
	  }
	  .wish .wish_name a{
	  	font-family: "Exo 2", "verdana", "sans-serif";
	  	font-size: 1.3rem;
	  	color: #222;
	  	text-decoration: none;
	  	letter-spacing: 0.3pt;
	  	font-weight: 300;
	  	line-height: 14pt;
	  	transition: all 0.3s ease;
	  }

	  .wish .wish_name a:hover{
	  	color: #288DFF;
	  	transition: all 0.3s ease;
	  }

	  .wish .delete{
	  	width: 31px;
	  	height: 31px;
	  	display: none;
	  	background: white;
	  	position: absolute;
	  	top: 0px;
	  	right: 0px;
	  	z-index: 10;
	  	border-bottom-left-radius: 4px;
	  }

	  .wish .delete img{
	  	border-radius: 4px;
	  }

	  .wish .wish_prix{
	  	font-family: "Open Sans", "verdana", "sans-serif";
	  	font-size: 1.2rem;
	  	font-weight: 300;
	  	width: auto;
	  	padding-left: 2px;
	  	padding-right: 6px;
	  	padding-bottom: 2px;
	  	min-width: 50px;
	  	height: 18px;
	  	display: none;
	  	background: white;
	  	position: absolute;
	  	top: 4px;
	  	left: 5px;
	  	z-index: 10;
	  	text-align: center;
	  	padding-top: 7px;
	  	border-bottom-right-radius: 4px;
	  	transition: all 0.3s ease;
	  	letter-spacing: 0.3pt;
	  }

	  .wish .active{
		display: block;
	  }

	  #newtag{
	  	display: none;
	  }

	  #newtag.active{
		display: inline-block;
		tansition: display 0.3s ease;
	  }
	  
	  .itemLoader{
	  	width: 32px !important;
	  	height: 32px !important;
	  	margin: 0 auto;
	  	margin-top: 110px;
	  	display: block;
	  }

	  #tagList{
	  	display: table;
	  	text-align: center;
	  	z-index: 20;
	  }
		
	  #tags{
		position: fixed;
		bottom: 0px;
		z-index: 10;
		background: #f1f1f1;
		width: 100%;
		height: 40px;
		border-top: 1px solid #e0e0e0;
		display: table-cell;
		width: calc(100% - 270px);
	  }

	  #tags li{
	  	display: inline;
	  	margin-right: 8px;
	  }

	  #tags li a{
	  	font-family: "Varela Bound", "verdana", "sans-serif";
	  	font-size: 1rem;
	  	color: #cccccc;
	  	background: #fff;
	  	text-transform: uppercase;
	  	text-decoration: none;
	  	line-height: 40px;
	  	border-radius: 4px;
	  	padding: 5px 8px 5px 10px;
	  	border: 1px solid #dddddd;
	  	width: auto;
	  	min-width: 130px !important;
	  	letter-spacing: 0.5pt;
	  	transition: all 0.3s ease;
	  }


	  #tags li a:hover{
	  	color: #222222;
	  	transition: all 0.3s ease;
	  }

	  #tags li a:after{
		content:"";
		width: 12px;
		height: 10px;
		display: inline-block;
		background: url("../images/checkmark.svg") center center;
		background-size: cover;
		margin-left: 20px;
		opacity: 0.3;
	  }

	  #tags li a.active:after{
	  	background: url("../images/checkmark_active.svg") center center;
	  	opacity: 1;
	  }
	/* 5.2 - Follow Page */ 

	  #follow {  
	  	margin: 0 auto;
	  	padding-top: 114px;
	  }

	  #tags li a.active{
	  	color: #222222;
	  }













