<h1>Créer une page de contribution </h1>
<p class="clear meaningInscription"></p>
<form action="<?php echo $BASEDIR.'/viewContribs/2/'.$_SESSION['id_user']; ?>" method="post" id="test">
    <p><input type="text" name="nom" placeholder="Saisir votre nom" required/></p>
    <p><label for="fin">Date de fin de la page</label><input type="date" name="fin" id="fin" required/></p>
    <p>Tags</p>
    <?php
    foreach($tags as $tag){
    	echo'
    	<p><label class="label-tag" for="tag-'.$tag['id_tag'].'">'.$tag['nom'].'</label><input type="checkbox" name="tag[]" value="'.$tag['id_tag'].'" id="tag-'.$tag['id_tag'].'" /></p>';
    }
    ?>
    <input type="submit" value="Créer">
  </form>