<h1>Ajout Manuel</h1>
<p>L'ajout automatique est indisponible pour ce lien.</p>
<form action="ProductHand" method="POST">
	<label>Nom</label><input type="text" name="nom" required/ placeholder="Nom"><br>
	<label>Prix</label><input type="text" name="price" required/ placeholder="Prix"><br>
	<label>Url image</label><input type="url" name="picture" required/ placeholder="Url de l'image du produit"><br>
	<label>Url produit</label><input type="url" name="link" required/ placeholder="Url de la fiche produit"><br>
	 <select name="tag" id="category">
           <?php if(isset($tags))
          {
              foreach ($tags as $tag) { ?>
                <option required="required"  value="<?php echo $tag['nom'];?>"><?php echo $tag['nom'];?> </option>
              <?php } 
          }
          ?> 
    </select><br>
	<input type="submit"></input>
</form>