<h1>Inscription</h1>
<p class="meaningInscription">Merci de remplir ce formulaire</p>
<form action="inscription/" method="post" enctype="multipart/form-data" id="test">
    <input type="email" name="mail" placeholder="Adresse mail" required/><br/>
    <input type="password" name="mdp" placeholder="Mot de passe" required/>
    <input type="password" name="mdp2" placeholder="Confirmation" required/><br/>
    <input type="text" name="nom" placeholder="Nom" required/>
    <input type="text" name="prenom" placeholder="Prénom" required/><br/>
    <input type="text" name="adresse" placeholder="N°de voie, rue" required/><br/>
    <input type="text" name="ville" placeholder="Ville" required/>
    <input type="text" name="cp" placeholder="Code postal" required/><br/>
    <input type="date" name="naissance"  placeholder="Date de naissance" required/><br/>
    <input type="file" name="file"><br/>
    <input type="submit">
</form>