<form action="inscription/" method="post" enctype="multipart/form-data" id="test">
    <label for="mail">Mail</label><input type="email" name="mail"/><br/>
    <label for="mdp">Mot de passe</label><input type="password" name="mdp"/><br/>
    <label for="mdp2">Mot de passe</label><input type="password" name="mdp2"/><br/>
    <label for="nom">Nom</label><input type="text" name="nom"/><br/>
    <label for="prenom">Prénom</label><input type="text" name="prenom"/><br/>
    <label for="adresse">Adresse</label><input type="text" name="adresse"/><br/>
    <label for="ville">Ville</label><input type="text" name="ville"/><br/>
    <label for="cp">Code postal:</label><input type="text" name="cp"/><br/>
    <label for="Date de naissance">Date de naissance</label><input type="date" name="naissance"/><br/>
    <label for="Sexe">Sexe</label><input type="radio" name="sexe" value="homme">Homme<input type="radio" name="sexe" value="femme"><br/>Femmme</p><br/>
    <label for="file">Photo</label><input type="file" name="file"/><br/>
    <input type="submit">
</form>