<?php $productName = $lastProduct[0]['nom'];
    if(strlen($productName) > 40){
        $productName = substr($productName, 0, 40);
        $productName = $productName."...";
}?>

    <img src="<?php echo $lastProduct[0]['image'] ?>" alt="">
    <div  class="wish_name"><p><a href="<?php echo $lastProduct[0]['lien']; ?>" target="_blank"><?php echo $productName; ?></a></p></div>
    <p class="wish_prix"><?php echo $lastProduct[0]['prix']."€";  ?></p>
    <a class="delete" href="deleteProduct/<?php echo $lastProduct[0]['id_souhait'];?>">SUPPRIMER</a>

    <input type="text" id="tags_value" name ="tags" value="<?php if(isset($productTags[0]["nom"])){ echo $productTags[0]["nom"];} ?>" hidden>
</div>