<h3>Réglages du profil</h3>

<form action="setInfos" method="post" enctype="multipart/form-data">
    <p><label for="mdp">Mot de passe</label></p>
    <input placeholder="Entrez un mot de passe" type="password" name="mdp" required/>
    <input placeholder="Confirmation" type="password" name="mdp2" required/>
    <p><label for="mail">Adresse e-mail</label></p>
    <input type="email" name="mail" value="<?php echo $infos['mail'];?>"/></p>
    <p><label for="adresse">Adresse postale</label></p>
    <input placeholder="Numéro de rue, voie" type="text" name="adresse" value="<?php echo $infos['adresse'];?>" required/>
    <input placeholder="Code postal" type="text" name="cp" value="<?php echo $infos['code_postal'];?>" required/>
    <input placeholder="Ville" type="text" name="ville" value="<?php echo $infos['ville'];?>" required/>
    <input placeholder="" type="file" name="photo" />
    <input type="submit">
  </form>
<?php
if(!empty($infos['id_facebook'])){
    echo'
    <p><a href="'.$BASEDIR.'/updatePicture" title="Modifier sa photo de profil facebook">Modifier sa photo de profil Facebook</a></p>';
}?>
