<?php require('header.html');?>
  <div id="content">
      
    <div class="myContributions">
          <a id="addContrib" href="">Ajouter une nouvelle page</a>

      <ul>
          <?php if($list_contrib){ ?>
            <?php foreach ($list_contrib as $i => $contrib) { ?>
              <li>
                <a href="<?php echo $BASEDIR.'/contrib/'.$contrib['clef']; ?>"></a>
                <img src="<?php echo $contrib['photo'];?>" alt="<?php echo $contrib['prenom'];?>">
                <h5><?php echo $contrib["prenom"]." ".$contrib["nom"]; ?><span> - Jusqu'au <?php echo $contrib['date_fin']; ?></span> </h5>
                <h4><?php echo stripslashes($contrib['contrib_nom']); ?></h4>
             </li>
            <?php } ?>
          <?php }else{ ?>
          <p class="noItems">Cet utilisateur ne possède pas de page de contribution</p>
          <?php } ?>
      </ul>
    </div>

<?php require('footer.html');?>
