<?php require('headerBase.html');?>

  <?php if(isset($erreur)){
    print_r($erreur);
  }?>

<header class="contrib">
  <div class="main">
    <span class="logo-contrib">
      <a href="<?php echo $BASEDIR;?>">Friendly<span>Gift</span> </a>
    </span>
    <span class="titre-contrib">
      <a href="">Page de contribution</a>
    </span>
  </div>
  
</header>

<div class="main">
  <div class="top-contrib">
    <div class="info-contrib">
      <img src="<?php echo $contrib[0]['photo_referent'];?>" alt="" />
      <h1><?php echo stripslashes($contrib[0]['nom_contrib']); ?></h1>
      <h2>Crée par <?php echo stripslashes($contrib[0]['prenom']).' '.stripslashes($contrib[0]['nom']); ?></h2>
    </div>
    <div class="sous-info-contrib">
      <ul>
        <li>Jusqu'au <?php echo date('d/m/Y', strtotime($contrib[0]['date_fin']));?></li>
        <?php 
        if(!empty($dons[0]['prix_total']))
          echo'<li><span>'.$dons[0]['prix_total'].'€</span> déjà récoltés</li>';
        else
          echo'<li>Soyez le premier à donner</li>';
        ?>
        <li>

    <?php $custom =  $contrib[0]['id_contrib'].'|'.$_SESSION['id']; print_r($custom);  ?>

    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="H7DX8LVN2YSX8">
      <input type="hidden" name="custom" value="<?php echo $custom ?>"/>
      <input type="image" src="https://www.sandbox.paypal.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      <img alt="" border="0" src="https://www.sandbox.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>


  </div>
</li>
      </ul>
    </div>
  </div>

  <div id="wishlist">
            <?php
            if(count($allProducts) != 0)
            {
                foreach ($allProducts as $i => $product) { ?>
                    <?php $productName = $product['nom'];
                    if(strlen($productName) > 50){
                        $productName = substr($productName, 0, 50);
                        $productName = $productName."...";
                    }?>
                    <div class="wish" >
                        <img src="<?php echo $product['image'] ?>" alt="">
                        <div  class="wish_name"><p><a href="<?php echo $product['lien']; ?>" target="_blank"><?php echo $productName; ?></a></p></div>
                        <p class="wish_prix"><?php echo $product['prix']."€";  ?></p>
                        <a class="like" href="../reWishlister/<?php echo $product['id_article'];?>"><img src="<?php echo $BASEDIR?>/public/images/thumb.svg" width="10" height="10" alt=""></a>
                    </div>
                <?php
                 } 
            }?>
            
            
        </div>
</div>



<?php require('footer.html');?>