<?php require('header.html');?>
    <div id="bannerTop">
    
    </div>
    <div class="clear"></div>
    <div id="content">
        <div id="follow">
        	<h2>Amis que vous suivez</h2>
        	<?php foreach ($myfollows as $onefollow) { ?>
   				<p> <a href="wishlist/<?php echo $onefollow["fields"]["id_user"]["value"]; ?>"><?php echo $onefollow["fields"]["prenom"]["value"]." ".$onefollow["fields"]["nom"]["value"]; ?></a> </p>
        	<?php } ?>
        	<h2>Amis qui vous suivent</h2>
		
        	<h2>Amis Facebook présent sur le site</h2>
        	<?php foreach ($FacebookFriendsUsers as $friend) { ?>
        		<div class="friend">
        			<p> <?php echo $friend["name"] ?> </p>
        			<a href="addFollow/<?php echo $friend["id_user"] ?> ">Follow</a>
        		</div>
        	<?php } ?>
        </div>
        <div class="clear"></div>
    </div>
<?php require('footer.html');?>

