<?php require('headerBase.html');?>
<div id="globalContainer">
	<?php if (!isset($SESSION['id'])){ ?>
	<header class="home">
		<?php if($error){?> 
			<div class="error">Oops , vos identifiants sont érronés. Veuillez réessayer</div>
		<?php }?>  
		<!--<form action="login/" id="login" method="post">
			<input type="text" name="login" placeholder="login" />
			<input type="password" name="password" placeholder="password" />
			<input type="submit" value="Sign in"/>
		</form>-->
		<div class="fix_center">
			<h1><span>Friendly</span>Gift</h1>

			<ul>
				<li><a href="#">Inscription</a></li>
				<li><a href="#">Log in</a></li>
		 		<li><a href="<?php echo $loginUrl; ?>">Facebook connect</a></li>
		 	</ul>
		 </div>
	</header>

	<?php }else{ ?>
		<?php require("leftSidebar.html"); ?>
		<div id="mainContent">
			<header>
				<p class="messageBonjour"><?php echo 'Bonjour '.$SESSION['firstname'].' !'; ?></p>
				<a class="logo" href="">Friendly<span>Gift</span> </a>
				<div id="logout"><a href="logout/">Logout</a></div>
			</header>
	<?php } ?>
  
