<aside id="leftSidebar">
	<div id="update"><a href="getInfos/">Modifier mes infos</a></div>
	
	<?php if(isset($_SESSION['profil_picture'])): ?>
		<img class="profilPicture" src="<?php echo $_SESSION['profil_picture'] ?>" alt=""> 
	<?php endif; ?>
	<p class="name"><?php echo $_SESSION['firstname'].' '.$_SESSION['lastname'] ?></p>
	<p class="ville"><?php echo $_SESSION['ville']; ?> </p>

	<ul id="userStats">
		<li>
			<h4>Followers</h4>
			<p><?php print_r($stats["nbfollowers"]); ?></p>
		</li>
		<li>
			<h4>Followed</h4>
			<p><?php print_r($stats["nbfollows"]); ?></p>
		</li>
		<li>
			<h4>Whishes</h4>
			<p id="nbWish"><?php print_r($stats["wishs"]); ?></p>
		</li>
	</ul>
	
	<ul id="menu">
		<li class="<?php if($page == 'wishlist'){ echo "actif";	} ?> "><a href="wishlist/">Ma wishlist</a></li>
		<li class="<?php if($page == 'follow'){ echo "actif";	} ?> "><a href="myFollow/">Mes amis</a></li>
		<li class="<?php if($page == 'contribution'){ echo "actif";	} ?> "><a href="myContributions/">Mes contributions</a></li>
		<li class="<?php if($page == 'share'){ echo "actif";	} ?> "><a href="shareMyList/">Partager ma wishlist</a></li>
	</ul>

	<div id="updateForm">
		
	</div>
</aside>