<?php require('header.html');?>

  <?php if(isset($erreur)){
    print_r($erreur);
  }?>

  <form action="inscription/" method="post" enctype="multipart/form-data">
    <p><label for="mail">Mail</label><input type="email" name="mail" id="mail" required /></p>
    <p><label for="mdp">Mot de passe</label><input type="password" name="mdp" id="mdp" required/></p>
    <p><label for="mdp2">Mot de passe</label><input type="password" name="mdp2" id="mdp2" required/></p>
    <p><label for="nom">Nom</label><input type="text" name="nom"id="nom" required /> </p>
    <p><label for="prenom">Prénom</label><input type="text" name="prenom" id="prenom" required/></p>
    <p><label for="adresse">Adresse</label><input type="text" name="adresse" id="adresse" required/></p>
    <p><label for="ville">Ville</label><input type="text" name="ville" id="ville" required/></p>
    <p><label for="cp">Code postal:</label><input type="text" name="cp" id="cp" required/></p>
    <p><label for="naissance">Date de naissance</label><input type="date" name="naissance" id="naissance" required/></p>
    <p><label for="sexe">Sexe</label><input type="radio" name="sexe" value="homme" required>Homme<input type="radio" name="sexe" id="sexe"value="femme" required>Femmme</p><br>
    <p><label for="file">Photo</label><input type="file" required name="file"/><p>
    <input type="submit">
  </form>

<?php require('footer.html');?>
