<?php require('header.html');?>


  <form action="inscription" method="post">
    <p><label for="mail">Mail</label><input type="email" name="mail"/></p>
    <p><label for="mdp">Mot de passe</label><input type="password" name="mdp"/></p>
    <p><label for="mdp2">Mot de passe</label><input type="password" name="mdp2"/></p>
    <p><label for="nom">Nom</label><input type="text" name="nom"/></p>
    <p><label for="prenom">Prénom</label><input type="text" name="prenom"/></p>
    <p><label for="Date de naissance">Date de naissance</label><input type="date" name="naissance"/></p>
    <p><label for="Sexe">Sexe</label><input type="text" name="sexe"/></p>
    <input type="submit">
  </form>

<?php require('footer.html');?>
