<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<title>Création d'une whislist</title>
	<meta name="description" content="">
  <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />  
</head>
<body>
  
    <br />
    <form method="post" action='product'>
      <input type='text' name='product'>
      <input type='submit' value='Add'>
    </form>
  
    <?php require('partials/contentProduct.html'); ?>
    
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/util.js"></script>
</body>
</html>