<?php require('header.html');?>

    <div id="content">
      
        <div class="myContributions">
          <ul>
              <?php if($myContributions){ ?>
                <?php foreach ($myContributions as $i => $contrib) { ?>
                  <li>
                    <a href="<?php echo $BASEDIR.'/contrib/'.$contrib['clef']; ?>"></a>
                    <img src="<?php echo $contribUsers[$i]["fields"]["photo"]["value"];?>" alt="<?php echo $contribUsers[$i]["fields"]["prenom"]["value"];?> ">
                    <h5><?php echo $contribUsers[$i]["fields"]["prenom"]["value"]." ".$contribUsers[$i]["fields"]["nom"]["value"]; ?><span> - Jusqu'au <?php echo date('d/m/Y', strtotime($contrib['date_fin'])); ?></span> </h5>
                    <h4>Page créée par <?php echo $contrib["nom"]; ?></h4>
                 </li>
                <?php } ?>
              <?php }else{ ?>
              <p class="noItems"> Vous ne participez à aucune page de contribution</p>
              <?php } ?>
          </ul>
        </div>
    </div>


<?php require('footer.html');?>

