<?php require('header.html');?>

    <div id="content">
      
        <div class="myContributions">
          <ul>
              <?php if($myContributions){ ?>
                <?php foreach ($myContributions as $key => $contrib) { ?>
                  <li><?php echo $contrib["nom"] ?></li>
                <?php } ?>
              <?php }else{ ?>
              <p> Vous ne participez à aucune page de contribution</p>
              <?php } ?>
          </ul>
        </div>
    </div>


<?php require('footer.html');?>

