<?php require('header.html');?>

    <div id="content">
    	<div class="centerThing">
	    	<img src="<?php echo $BASEDIR.'/public/images/share.png';?>" alt="">
	    	<p> Copiez-collez le lien suivant et partagez votre wishlist sur les réseaux sociaux, par mail, par sms !</p>
	        <form action="searchUser/" method="post">
	            <input type="text" name="name" value="<?php echo $BASEDIR.'/wishlist/'.$_SESSION['id'];?>" autocomplete="off"/>
	        </form>
	    </div>
    </div>  

<?php require('footer.html');?>

