<?php require('header.html');?>
    <div id="bannerTop">
    <?php if(isset($user)): ?>
        <h1>
		Wishlists de <?php echo $user['fields']['prenom']['value']; ?>
        </h1>
	<?php else: ?>  
        <form method="post" action='addProduct' id="addProduct">
          <input type='text' name='product' placeholder="URL du produit à insérer dans votre wishlist">
          <select name="tag" id="category">
           <?php if(isset($tags))
          {
              foreach ($tags as $tag) { ?>
                <option  value="<?php echo $tag['nom'];?>"><?php echo $tag['nom'];?> </option>
              <?php } 
          }
          ?> 
            <option  value="newtag">Autre tag</option>
          </select>

          <input type='text' name='newtag' id="newtag" placeholder="Nouveau tag">

          <input type='submit' value='Ajouter'>
        </form>
    <?php endif; ?>
    </div>
    <div id="content">
        <div id="wishlist">
            <?php
            if(isset($allProducts))
            {
                foreach ($allProducts as $i => $product) { ?>
                    <?php $productName = $product['nom'];
                    if(strlen($productName) > 40){
                        $productName = substr($productName, 0, 35);
                        $productName = $productName."...";
                    }?>
                    <div class="wish <?php if(isset($productTags[$i][0]['nom'])){ echo $productTags[$i][0]['nom'];} ?> " >
                        <img src="<?php echo $product['image'] ?>" alt="">
                        <div  class="wish_name"><p><a href="<?php echo $product['lien']; ?>" target="_blank"><?php echo $productName; ?></a></p></div>
                        <p class="wish_prix"><?php echo $product['prix']."€";  ?></p>
                        <a class="delete" href="deleteProduct/<?php echo $product['id_souhait'];?>">SUPPRIMER</a>
                    </div>
                <?php } 
            }
            ?>
            
        </div>
        <div class="clear"></div>
    </div>
    <div id="tagList">
      <ul id="tags">
         <?php
          if(isset($tags))
          {
              foreach ($tags as $tag) { ?>
                  <li><a href="#" data-filter="<?php echo ".".$tag['nom'];?>"><?php echo $tag['nom'];?></a></li>
              <?php } 
          }
          ?> 
      </ul>
    </div>
<?php require('footer.html');?>

