<?php require('header.html');?>
    
    <h1> 
    <?php if(isset($user)): ?>
		Wishlists de <?php echo $user['fields']['prenom']['value']; ?>
	<?php else: ?>
		Bienvenue sur votre wishlist <?php echo $SESSION['firstname']; ?>
	<?php endif; ?>
    </h1>

    <form method="post" action='product'>
      <label>Ajouter un article</label><input type='text' name='product'>
      <input type='submit' value='Parse'>
    </form>
    
    </br>
    
    <?php
    if(isset($allProducts))
        print_r($allProducts['nom']);
    {
        foreach ($allProducts as $product) {
            echo $product['nom'].'<br />';  
    }
}
?>

<?php require('footer.html');?>

