<?php require('header.html');?>
    <div id="bannerTop">
    <?php if(isset($user)): ?>
        <h1>
		Wishlists de <?php echo $user['fields']['prenom']['value']; ?>
        </h1>
	<?php else: ?>  
        <form method="post" action='product'>
          <label>Ajouter un article</label><input type='text' name='product'>
          <input type='submit' value='Ajouter'>
          <?php
          if(isset($tags))
          {
              foreach ($tags as $tag) { ?>
                  <?php echo $tag['nom']." :";?><input type="checkbox" value="<?php echo $tag['nom'];?>">
              <?php } 
          }
          ?> 

        </form>

        <form method="post" action='newTag'>
          <label>Ajouter un tag</label>
          <input type='text' name='tag'>
          <input type='submit' value='Ajouter'>
        </form>
    <?php endif; ?>
    </div>
    <div id="content">
        <div id="wishlist">
            <?php
            if(isset($allProducts))
            {
                foreach ($allProducts as $product) { ?>
                    <?php $productName = $product['nom'];
                    if(strlen($productName) > 50){
                        $productName = substr($productName, 0, 50);
                        $productName = $productName."...";
                    }?>
                    <div class="wish">
                        <img src="<?php echo $product['image'] ?>" alt="">
                        <p class="wish_name"><?php echo $productName; ?></p>
                        <p class="wish_prix"><?php echo $product['prix']."€";  ?></p>
                        <a class="delete" href="./deleteProduct/<?php echo $product['id_souhait'];?>">SUPPRIMER</a>
                    </div>
                <?php } 
            }
            ?>
            
        </div>
        <div class="clear"></div>
        <ul id="tags">
        
           <?php
            if(isset($tags))
            {
                foreach ($tags as $tag) { ?>
                    <li><a href=""><?php echo $tag['nom'];?></a></li>
                <?php } 
            }
            ?> 
        </ul>
    </div>
<?php require('footer.html');?>

